---
version: 2
updates:
  - package-ecosystem: "gomod"
    directories:
      - "**/*"
    schedule:
      interval: "daily"
    groups:
      gomod-automerge:
        update-types:
          - "patch"
          - "minor"
    labels:
      - "automerge"
      - "dependabot"
  - package-ecosystem: "github-actions"
    directory: "/" # Location of package manifests
    schedule:
      interval: "daily"
    groups:
      actions-merge:
        update-types:
          - "patch"
          - "minor"
          - "major"
    labels:
      - "dependabot"
